:{$PORT:80} {
	encode zstd gzip

	handle /api/* {
		reverse_proxy https://pease-production.up.railway.app {
			header_up Host pease-production.up.railway.app
			header_up Accept-Encoding identity
		}
	}

	handle {
		root * /usr/share/caddy
		try_files {path} /index.html
		file_server
	}
}
